<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/pizzaria-hi-tech2/css/style.css">
    <title>Pizzaria Hi-Tech</title>
    
</head>
<body>
    <header>
        <nav class="dropMenu">            
            <ul id="menu">                
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Ingredientes</a>
                    <ul>
                        <li><a href="cadastro.html">Incluir</a></li>
                        <li><a href="index.html">Exibir</a></li>   
                    </ul>
                </li>    
                <li><a href="#">Pizzas</a>
                    <ul>
                        <li><a href="cadastrop.html">Incluir</a></li>
                        <li><a href="indexp.html">Exibir</a></li> 
                    </ul>
                </li>
                <li><a href="montar.html">Monte sua pizza</a></li>    
            </ul>
        </nav>
    </header>

</body>
</html>