<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost/pizzaria-hi-tech2/css/style.css">
    <title>MONTAR PIZZA</title>
</head>
<body>

    <header>
        <nav class="dropMenu">            
            <ul id="menu">                
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Ingredientes</a>
                    <ul>
                        <li><a href="cadastro.html">Incluir</a></li>
                        <li><a href="index.html">Exibir</a></li>   
                    </ul>
                </li>    
                <li><a href="#">Pizzas</a>
                    <ul>
                        <li><a href="cadastrop.html">Incluir</a></li>
                        <li><a href="indexp.html">Exibir</a></li> 
                    </ul>
                </li>
                <li><a href="montar.html">Monte sua pizza</a></li>    
            </ul>
        </nav>
    </header>

    <div class="container p-4">        
        <div class="col-sm-8">
            <table class="table table-bordered table table-light table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ingredientes</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Acoes</th>
                    </tr>
                </thead>
                <tbody id="results"></tbody>
            </table>
        </div>
    </div>
    <script src="../scripts/indexmontar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>